
@model Virgol.Views.ViewModel.SliderViewModel




@using (Html.BeginForm("Create", "Slider", FormMethod.Post, new { enctype = "multipart/form-data" }))

{

    <div class="d-flex justify-content-center">
        @Html.AntiForgeryToken()
        <div class="card card-Size-1 text-center">
            <h2 class="card-header text-center"> Create</h2>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div>
                @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            </div>

            <div class="margin-top me-4">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>

            <div class="">
                <span>Image</span>
                <div>
                    <img src="~/Images/SlideShow/nophoto.png" class="photo200-120 rounded-circle" id="newImagePreview"><br />
                    <input type="file" class="form-control margin-top me-4" name="imageUpload" id="imageUpload" onchange="imagePreview(this)" value="noPhoto.png" />
                    @Html.ValidationMessageFor(model => model.ImageName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group margin-top">
                <div class="card-footer">
                    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })|
                    <input type="submit" value="Create" class="btn btn-success" />
                </div>
            </div>
        </div>
    </div>
}
<div>

</div>
<script src="~/Scripts/Site.js"></script>
