
@{
    ViewBag.Title = "Index";
    
    }

<div class="row gy-4">

    <div class="col-md-4 text-center">
        <div class="bi bi-person">
            <h3>Users</h3>
            <p>@ViewBag.User</p>
        </div>
    </div><!-- End Info Item -->

    <div class="col-md-4 text-center">
        <div class="bi bi-book">
            <h3>Articles</h3>
            <p>@ViewBag.Article</p>
        </div>
    </div><!-- End Info Item -->

    <div class="col-md-4 text-center">
        <div class="bi bi-file-ruled">
            <h3>Categories</h3>
            <p>@ViewBag.Category</p>
        </div>
    </div><!-- End Info Item -->
    <div class="col-md-4 text-center">
        <div class="bi bi-book text-success">
            <h3>Articles Active</h3>
            <p>@ViewBag.ArticleActive</p>
        </div>
    </div><!-- End Info Item -->
    <div class="col-md-4 text-center text-success">
        <div class="bi bi-person">
            <h3>User Active</h3>
            <p>@ViewBag.UserActive</p>
        </div>
    </div><!-- End Info Item -->
</div>


