@model Virgol.Views.ViewModel.UserLogInViewModel

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <section class="text-center">

        <div class="p-5 bg-image" style="
        background-image: url('../../Images/icon/Log_In.png');
        height: 300px;
        "></div>

        <div class="card mx-4 mx-md-5 shadow-5-strong" style="
        margin-top: -100px;
        background: hsla(0, 0%, 100%, 0.8);
        backdrop-filter: blur(30px);">
        
            <div class="card-body py-5 px-md-5">

                <div class="row d-flex justify-content-center">
                    <div class="col-lg-6">
                        <h2 class="fw-bold mb-5">LogIn</h2>
                        <form>
                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        <input type="text" id="PhoneNumber" name="PhoneNumber" placeholder="PhoneNumber" class="form-control" />
                                        @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        <input type="password" id="Password" name="Password" placeholder="Password" class="form-control" />
                                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-check d-flex justify-content-center mb-4">
                                    @Html.EditorFor(model => model.SavePassword)
                                    @Html.LabelFor(model => model.SavePassword)
                                    @Html.ValidationMessageFor(model => model.SavePassword, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <button value="LogIn" type="submit" class="btn btn-primary btn-block mb-4">LogIn</button>

                            <div class="form-check d-flex justify-content-center mb-4">
                                <i><a href="/User/SignUp"> SignUp</a> </i>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

}
<script src="~/Scripts/jquery-3.0.0.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>




